.movie-info-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black overlay */
}

.movie-info-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8); /* Add a semi-transparent black overlay */
    box-shadow: 0px 0px 10px 1px white;
    max-height: 600px;
    overflow-y: auto;
}

.movie-info-content {
    display: flex;
    justify-content: flex-start;
}

.movie-info-poster-image {
    border-radius: 15px;
    height: inherit;
}

.movie-info-title {
    font-size: 24px;
    font-weight: bold;
}

.movie-info-release-date {
    margin-top: 10px;
    font-size: 18px;
}

.movie-info-vote-avg {
    margin-top: 10px;
    font-size: 18px;
}

.movie-info-overview {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}

.movie-info-text {
    margin-left: 20px;
    display: flex;
    width: 350px;
    text-align: left;
    /* justify-content: flex-start; */
    flex-direction: column;
    align-items: flex-start;
}

.movie-info-rating {
    font-size: 50px;
    cursor: pointer;
}

.movie-info-rating-text {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}

.movie-info-rating-wrapper {
    margin-top: 20px;
    text-align: left;
}

.movie-info-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.Comment-input-text {
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 7px;
    width: 500px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    height: 100%;
}

.Comment-section {
    margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}