.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  width: 30vmin;
  border-radius: 50%;
  pointer-events: none;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  margin-top: 100px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-input-text {
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  width: 400px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  height: 100%;
}

::placeholder {
  opacity: 0.6;
  color: white;
}

.Small-text {
  margin-top: 10px;
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


