.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  pointer-events: none;
  margin-bottom: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear !important;
  }
}

.App-header {
  margin-top: 100px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-input-text {
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  width: 400px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  height: 100%;
}

::placeholder {
  opacity: 0.6;
  color: white;
}

.Movies-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-top: 80px;
}

.Movie-card {
  margin-bottom: 30px;
  flex: 1;
  margin-right: 20px;
}

.Small-text {
  margin-top: 10px;
  font-size: 15px;
}

.Movie-not-found {
  width: 100%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Page-control-wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.Page-control-wrapper input {
  outline: none;
  text-decoration: underline;
  border: none;
  background: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.Page-control-wrapper input:hover {
  text-shadow: white 1px 0 10px;
}
